<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/Tailwind/output.css" rel="stylesheet">
</head>
<body>
    <nav class="flex p-10 bg-slate-600 border-b-2 border-gray-700 justify-between">
        <p class="text-white">Ini navbar</p>
        <div class="">
            <a href="">p</a>
            <a href="">p</a>
            <a href="">p</a>
            <a href="">p</a>
        </div>
    </nav>
    <section>
        
    </section>
</body>
</html>