<!doctype html>
<html class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/Tailwind/output.css" rel="stylesheet">
  <title></title>
</head>
<body class="bg-Back">
    <nav class="flex text-white container font-bold p-10 bg-prime border-b-2 border-gray-700 justify-between">
        <h1 class=" text-2xl ">Draken</h1>
        <div class="flex">
            <div class="mx-4 hover:border-b border-second">
                <a href="">Home</a>
            </div>
            <div class="mx-4 hover:border-b border-second">
                <a href="">Penjelasan</a>
            </div>
            <div class="mx-4 hover:border-b border-second">
                <a href="">jenis</a>
            </div>
            <div class="mx-4 hover:border-b border-second">
                <a href="">Rawat</a>
            </div>
        </div>
    </nav>
    <section class="bg-no-repeat" style="background-image: url(./img/R3.png);" id="Home">
        <div class="p-44 mb-12 container text-black  font-bold  ">
            <h1 class="text-4xl mx-4" >Apakah Anda Tahu <span class="text-second" style="-webkit-text-fill-color: #D4FAFC;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: black;">Reptile?</span></h1>
            <p class="p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo <br> ut aliquid blanditiis ipsum <br> temporibus minima similique ab animi distinctio. Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Similique, quisquam!</p> 
            <div class="p-4">
                <a class="p-2 bg-black text-second border-2 border-black rounded" href="#penjelasan"><span class=" border-b border-second">Mulai</span></a>
            </div>
        </div>
    </section>
    <section id="penjelasan">
        <div class="p-44 container ">
            <h1 class="text-left text-4xl text-second font-bold" style="-webkit-text-fill-color: #D4FAFC;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: black;">Penjelasan:</h1>
            <p class="text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur suscipit sequi accusamus molestias eligendi ab cumque labore fuga aliquid nobis, deleniti facere et magnam voluptatem, odio optio vero, dolores nam.</p>
        </div>
    </section>
    <section id="jenis">

    </section>
    <section id="how">

    </section>
    <section id="close">
        
    </section>
</body>
</html>